*{
    box-sizing: border-box;
    font-family: arial;
}

body{
    background-color:rgb(245, 242, 237);
}

.heading{
    margin: auto;
    text-align: center;
    margin: 20px;
}

.turn{
    margin: auto;
    text-align: center;
    margin: 20px;
}

.ticTacToe {
    display: grid;
    margin: auto;
    width: 452px;
    border: solid 1px red;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3,150px);
}

.grid{
    border: solid 1px black;
    background-color: aliceblue;
}

.grid:hover {
    border: solid 2px rgb(106, 106, 106);
}

/* Scores */

.score {
    margin: auto;
    width: 452px;
}

.score h3{
    display: inline-block;
    margin-top: 5%;
    margin-left: 26%;
    margin-right: -4%;
}

.X{
    color: rgb(141, 141, 141);
}

.O{
    color: rgb(141, 141, 141);
}

/* Winning Screen */

.end {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-left: -8px;
    background: black;
    
}

.ending {
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    top: 40%;
}

.endMsg {
    color: white;
}

button{
    display: relative;
    margin: 0 auto;
    padding: 13px;
    font-size: 1em;
    border: none;
    border-radius: 10%;
    background-color:rgb(132, 132, 132);
    color: white;

}





